/* Header */
.body {
  background-image: url('/img/background.png');
}

#hero-image {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

/* Filters */

.filters * {
  color: var(--dark, );
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 30px;
}

.gx-3>* {
  margin-right: 20px;
}

.glassmorphism {
  position: relative;
  top: -350px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  padding: 30px 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-custom-color {
  background-color: #8379ff;
  border-color: #8379ff;
}

.btn-custom-color:hover {
  background-color: #6e63e6;
  border-color: #6e63e6;
}

.btn-custom-color:focus {
  background-color: #564fe0;
  border-color: #564fe0;
}

.btn-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
}