*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
}

@media (max-width:992px) {
    .planets-btn {
        display: none;
    }
}

.header-bg {
    background-image: url('/img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

html,
body {
    min-width: 100vw;
    width: 100%;
}

body {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    width: 50%;
}

.slider-items {
    height: 20vw;
    position: relative;
    list-style-type: none;
}

.slider-items li {
    position: absolute;
    width: 15vw;
    height: 50%;
    top: 15%;
    left: 50%;
    cursor: pointer;
    z-index: 1;
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-items li img {
    width: clamp(160px, 18vw, 500px);
    height: auto;
    margin-top: 55%;
    transform: scale(1.3) rotate(25deg);
    transition: 0.25s;
}

.slider-items li::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.slider-items li.item-1 {
    z-index: 2;
    transform: translateX(-50%) scale(1.5) translate3d(0, 0, 0);
}

.slider-items li.item-2 {
    z-index: 1;
    transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
}

.slider-items li.item-3 {
    z-index: 1;
    transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
}

.slider-nav {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 45%;
    border-top: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
    border-right: 2px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.slider-nav.next {
    right: -35%;
    transform: rotate(45deg);
}

.slider-nav.prev {
    left: -35%;
    transform: rotate(-135deg);
}