@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.block {
    align-items: center;
}

.description {
    padding: 80px;
}

.picture {
    text-align: center;
}

.picture img {
    width: 100%;
    padding-top: 20px;
}

.text-container {
    padding: 5px;
    flex: 2;
}

.text-container h2 {
    margin-bottom: 10px;
}

.text-container p {
    line-height: 1.5;
}

.card {
    padding: 20px;
    border-radius: 10px;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #211E43;
    font-weight: bold;
}

.data h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #211E43;
    font-weight: 600; 
}

.card p {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.item {
    padding-top: 20px;
    text-align: center;
}

.box {
    text-align: center;
    justify-content: center;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.item h2 {
    font-size: 13px;
    text-align: center;
}

.item .data {
    border-radius: 10px;
    padding-top: 8px;
    border: #211E43;
    color: #211E43;
}

.box span {
    color: #211E43;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
}

.spacer {
    height: 3rem;
}