.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    padding: 70px;
    align-items: center;
    justify-content: center;
}

.card-grid h1 {
    color: var(--fill-default-main, #FFF);
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.card-grid h2 {
    color: var(--fill-default-main, #FFF);
    font-family: "Montserrat";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.card-grid p {
    color: var(--dark, #FFF);
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-container {
    width: 300px;
    height: 200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    border-radius: 20px;
}

.card-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}

.front,
.back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;

    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;


}

.card-container:hover .front,
.card-container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    height: 100%;
    background: url("/img/cardback.png");
}

.card-text {
    position: static;
    color: #fff;
    font-family: 'Against', sans-serif;
    font-size: 2.5rem !important;
    font-weight: 600 !important;
}

.card-text-container {
    display: flex;
    align-items: center;
}

.currency-icon {
    margin-left: 10px;
    width: 30px;
}

.front {
    height: 100%;
}

.front>.inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.back>.inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}


.card-container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* smartbox styles */
#smart-box-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    padding: 70px;
    align-items: center;
    justify-content: space-between;
}

#smart-box-list a {
    text-decoration: none;
}

.box-image {
    position: relative;
    background-size: cover;
    width: 320px;
    height: 310px;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.box-value {
    background-color: white;
    width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box-value p {
    color: black;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.box-text h1 {
    color: var(--fill-default-main, #FFF);
    font-family: "Montserrat";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.currency-iconn {
    margin-left: 5px;
    width: 15px;
}
