/* GLASS */

.glass {
  background-color: rgba(158, 158, 158, 0.155);
  backdrop-filter: blur(10px);
  border: none;
}

/* BACKGROUND */

body {
  background-image: url('/img/background.png');
  background-size: cover;
}

/* BACKGROUND | HEADER */

#header-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 120%;
}

/* HEADER INFO */

.info {
  height: 65px;
  max-width: 100%;
}

/* BUTTONS */

/* BUTTONS | BURGER MENU */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:hover {
  background-color: rgba(158, 158, 158, 0.155);
}

.navbar-toggler:active {
  background-color: rgba(241, 241, 241, 0.29);
}

/* BUTTONS | NAVBAR LINKS */

.nav-link {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  color: #F7F6FE;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.128);
  backdrop-filter: blur(10px);
}

.nav-link:hover {
  color: #F7F6FE;
  background-color: #6865FF;
}

.nav-link:active {
  color: #6865FF;
  background-color: #F7F6FE;
}

.nav-link:focus {
  color: #6865FF;
  background-color: #F7F6FE;
}

/* BUTTONS | CTA */

.cta {
  font-family: Montserrat;
  font-size: clamp(15px, 3vw, 20px);
  font-weight: 550;
  line-height: 100%;
  background-color: #6865FF;
  color: #F7F6FE;
  border: none;
  border-radius: 5px;
  padding-inline: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.cta:hover {
  background-color: #3331b7;
}

.cta:active {
  background-color: #F7F6FE;
  color: #3331b7;
}

.cta:focus {
  background-color: #F7F6FE;
  color: #3331b7;
}

.location-tag {
  padding-inline: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 100px;
  font-size: clamp(15px, 2vw, 20px);
  font-family: montserrat;
  font-weight: 600;
  color: #F7F6FE;
  margin: 0;
  line-height: 100%;
  text-decoration: none;
}

.location-tag:hover {
  background-color: rgba(255, 255, 255, 0.205);
}

.location-tag:active {
  background-color: #F7F6FE;
  color: #6865FF;
}

.location-tag:focus {
  background-color: #F7F6FE;
  color: #6865FF;
}

/* BUTTONS | FOOTER */

.social-btn {
  fill: #211E43;
}

.social-btn:hover {
  fill: #3331b7;
}

.social-btn:active {
  fill: #F7F6FE;
}

::placeholder {
  font-family: Montserrat;
  font-size: 15px;
  margin: 0;
  line-height: 100%;
}






/* FONTS */
#home-title {
  position: relative;
  color: #F7F6FE;
  font-family: Against;
  font-size: clamp(15px, 12vw, 70px);
  text-align: center;
}

.navbar-title {
  font-family: against;
  font-size: 20px;
  color: #F7F6FE;
}

h1 {
  /* page title */
  color: #F7F6FE;
  font-family: Against;
  font-size: clamp(15px, 8vw, 70px);
  font-weight: 300;
  line-height: 150%;
  margin: 0;
}

h2 {
  /* against title */
  color: #211E43;
  font-family: against;
  font-size: clamp(15px, 6vw, 35px);
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}

h3 {
  /* montserrat title */
  color: #F7F6FE;
  font-family: Montserrat;
  font-size: clamp(15px, 6vw, 35px);
  font-weight: 600;
  line-height: 100%;
  margin: 0;
}


h4 {
  /* pretitle */
  color: #F7F6FE;
  font-family: Montserrat;
  font-size: clamp(15px, 3vw, 25px);
  line-height: 150%;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

h5 {
  font-family: Montserrat;
  font-size: clamp(15px, 4vw, 20px);
  color: #F7F6FE;
  font-weight: 600;
  margin: 0;
  line-height: 150%;
}

p {
  font-family: Montserrat;
  font-size: clamp(13px, 1vw, 15px);
  color: #211E43;
  font-weight: 400;
  margin: 0;
}

.small {
  font-family: Montserrat;
  font-size: 12px;
  color: #211E43;
  font-weight: 400;
  margin: 0;
}

.navbar a.active {
  color: #6865FF !important;
  background-color: white !important;
}